<style>
    .point{
        cursor: pointer;
    }

</style>
<br/>
@using (Html.BeginForm("searchByPC", "product"))
{
    <h5>Hãng sản xuất</h5>
    <div class="row">
        <div class="col-6">
            <input class="point" type="radio" value="asus" name="productCompany" id="asus" /> <label class="point" for="asus">Asus</label>  <br />
            <input class="point" type="radio" value="hp" id="hp" name="productCompany" /> <label class="point" for="hp">Hp</label> <br />
            <input class="point" type="radio" value="acer" id="acer" name="productCompany" /> <label class="point" for="acer">Acer</label> <br />
            <input class="point" type="radio" value="lenovo" id="lenovo" name="productCompany" /> <label class="point" for="lenovo">Lenovo</label>  <br />
            <input class="point" type="radio" value="gigabite" id="gigabite" name="productCompany" /> <label class="point" for="gigabite">Gigabite</label>  <br />
        </div>
        <div class="col-6">
            <input class="point" type="radio" id="microsoft" value="microsoft" name="productCompany" /> <label class="point" for="microsoft">Microsoft</label>  <br />
            <input class="point" type="radio" id="LG" value="LG" name="productCompany" /> <label class="point" for="LG">LG</label>  <br />
            <input class="point" type="radio" id="Dell" value="Dell" name="productCompany" /> <label class="point" for="Dell">Dell</label>  <br />
            <input class="point" type="radio" id="apple" value="apple" name="productCompany" /> <label class="point" for="apple">Apple</label>  <br />
            <input class="point" type="radio" id="MSI" value="MSI" name="productCompany" /> <label class="point" for="MSI">MSI</label>  <br />
        </div>
    </div>
    <button class="btn mt-3" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg> Tìm kiếm
    </button>
}
<br/>
@using (Html.BeginForm("searchByPrice", "product"))
{
    <h5>Mức giá</h5>
    <div class="row">
    <div class="col-12">
            <input class="point" type="radio" id="0" value="0" name="price"> <label class="point" for="0">Tất cả</label>  <br />
            <input class="point" type="radio" id="1" value="1" name="price"> <label class="point" for="1">Dưới 10 triệu</label><br />
            <input class="point" type="radio" id="2" value="2" name="price"> <label class="point" for="2">từ 10 đến 15 triệu</label> <br />
            <input class="point" type="radio" id="3" value="3" name="price"> <label class="point" for="3">từ 15 đến 20 triệu</label> <br />
            <input class="point" type="radio" id="4" value="4" name="price"> <label class="point" for="4">từ 20 đến 25 triệu</label> <br />
            <input class="point" type="radio" id="5" value="5" name="price"> <label class="point" for="5">trên 20 triệu</label> <br />
    </div>
    </div>
    <button class="btn mt-3" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg> Tìm kiếm
    </button>
}

