Create database [backup_16-10-2023]
go
USE [backup_16-10-2023]
GO
/****** Object:  Table [dbo].[account]    Script Date: 11/9/2023 11:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[displayName] [nvarchar](100) NULL,
	[userName] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 11/9/2023 11:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idAccount] [int] NOT NULL,
	[status] [int] NOT NULL,
	[datepay] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[billInfo]    Script Date: 11/9/2023 11:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idBill] [int] NOT NULL,
	[idLaptop] [int] NOT NULL,
	[counts] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 11/9/2023 11:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[id] [nchar](10) NOT NULL,
	[name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[phone] [nchar](50) NULL,
	[sex] [nchar](3) NULL,
	[email] [nchar](20) NULL,
	[idAccount] [int] NULL,
 CONSTRAINT [PK_cilent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[laptop]    Script Date: 11/9/2023 11:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[laptop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[idCategory] [int] NOT NULL,
	[price] [float] NOT NULL,
	[productCompany] [nvarchar](100) NOT NULL,
	[monitor] [float] NOT NULL,
	[CPU] [nvarchar](100) NOT NULL,
	[RAM] [nvarchar](100) NOT NULL,
	[Image] [nvarchar](100) NOT NULL,
	[GPU] [nvarchar](100) NULL,
	[HardDisk] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[laptopCategory]    Script Date: 11/9/2023 11:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[laptopCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 11/9/2023 11:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[id] [nchar](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Sex] [nchar](3) NULL,
	[Phone] [int] NULL,
	[idAccount] [int] NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplier]    Script Date: 11/9/2023 11:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier](
	[id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[phone] [int] NULL,
	[email] [nchar](10) NULL,
	[idWareHouse] [int] NULL,
 CONSTRAINT [PK_supplier] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transport]    Script Date: 11/9/2023 11:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transport](
	[id] [int] NOT NULL,
	[dateship] [date] NULL,
	[address] [nchar](20) NULL,
	[customer] [nvarchar](50) NULL,
	[idBill] [int] NULL,
 CONSTRAINT [PK_transport] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ware house]    Script Date: 11/9/2023 11:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ware house](
	[id] [int] NOT NULL,
	[import] [nvarchar](50) NULL,
	[export] [nvarchar](50) NULL,
	[update] [nchar](100) NULL,
	[id transport] [int] NULL,
 CONSTRAINT [PK_ware house] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([id], [displayName], [userName], [password], [type]) VALUES (2, N'tkAdmin', N'admin', N'admin', 1)
INSERT [dbo].[account] ([id], [displayName], [userName], [password], [type]) VALUES (3, N'Vũ Nguyễn Hoàng', N'NguyenHoang', N'12345', 0)
INSERT [dbo].[account] ([id], [displayName], [userName], [password], [type]) VALUES (1003, N'HoangTran', N'HoangTran', N'12345', 0)
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([id], [idAccount], [status], [datepay]) VALUES (2, 2, 1, NULL)
INSERT [dbo].[bill] ([id], [idAccount], [status], [datepay]) VALUES (3, 2, 1, NULL)
INSERT [dbo].[bill] ([id], [idAccount], [status], [datepay]) VALUES (4, 2, 1, NULL)
SET IDENTITY_INSERT [dbo].[bill] OFF
GO
SET IDENTITY_INSERT [dbo].[billInfo] ON 

INSERT [dbo].[billInfo] ([id], [idBill], [idLaptop], [counts]) VALUES (2, 2, 1, 2)
INSERT [dbo].[billInfo] ([id], [idBill], [idLaptop], [counts]) VALUES (3, 3, 1, 1)
INSERT [dbo].[billInfo] ([id], [idBill], [idLaptop], [counts]) VALUES (4, 3, 5, 1)
SET IDENTITY_INSERT [dbo].[billInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[laptop] ON 

INSERT [dbo].[laptop] ([id], [Name], [idCategory], [price], [productCompany], [monitor], [CPU], [RAM], [Image], [GPU], [HardDisk]) VALUES (1, N'Asus ROG Strix Gaming G513IE-HN246W R7 4800H/8GB/512GB/15.6FHD/GeForce RTX 3050 Ti 4GB/Win 11', 1, 10000000, N'Asus', 15.6, N'AMD, Ryzen 7, 4800H', N'8 GB', N'asus-gaming-zephyrus-g513-xam-led-4zone-dd.png', N'NVIDIA GeForce RTX 3050 4GB; AMD Radeon Graphics', N'SSD 512 GB')
INSERT [dbo].[laptop] ([id], [Name], [idCategory], [price], [productCompany], [monitor], [CPU], [RAM], [Image], [GPU], [HardDisk]) VALUES (2, N'MacBook Pro M2 2022 13 inch 8CPU 10GPU 16GB 256GB', 2, 10000000, N'Apple', 13.3, N'Apple, M2, 8 - Core', N'8 GB', N'mbp-2020-m1-gray-dd-1.png', N'Apple M2 GPU 10 nhân', N'SSD 256 GB')
INSERT [dbo].[laptop] ([id], [Name], [idCategory], [price], [productCompany], [monitor], [CPU], [RAM], [Image], [GPU], [HardDisk]) VALUES (3, N'Acer Nitro Gaming AN515-57-5669 i5 11400H/8GB/512GB SSD/Nvidia GTX1650 4GB/Win11', 1, 10000000, N'Acer Inc', 15.6, N'Intel, Core i5, 11400H', N'8 GB', N'acer-nitro-gaming-an515-57.png', N'NVIDIA GeForce RTX 3050 Ti 4 GB; AMD Radeon Graphics', N'SSD 512 GB')
SET IDENTITY_INSERT [dbo].[laptop] OFF
GO
SET IDENTITY_INSERT [dbo].[laptopCategory] ON 

INSERT [dbo].[laptopCategory] ([id], [Name]) VALUES (1, N'Gaming')
INSERT [dbo].[laptopCategory] ([id], [Name]) VALUES (2, N'Văn Phòng')
SET IDENTITY_INSERT [dbo].[laptopCategory] OFF
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ((0)) FOR [type]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT (getdate()) FOR [datepay]
GO
ALTER TABLE [dbo].[billInfo] ADD  DEFAULT ((0)) FOR [counts]
GO
ALTER TABLE [dbo].[laptop] ADD  DEFAULT (N'chưa đặt tên') FOR [Name]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD FOREIGN KEY([idAccount])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[billInfo]  WITH CHECK ADD FOREIGN KEY([idBill])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[billInfo]  WITH CHECK ADD FOREIGN KEY([idLaptop])
REFERENCES [dbo].[laptop] ([id])
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD  CONSTRAINT [FK_cilent_account] FOREIGN KEY([idAccount])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[customer] CHECK CONSTRAINT [FK_cilent_account]
GO
ALTER TABLE [dbo].[laptop]  WITH CHECK ADD FOREIGN KEY([idCategory])
REFERENCES [dbo].[laptopCategory] ([id])
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD  CONSTRAINT [FK_staff_account] FOREIGN KEY([idAccount])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[staff] CHECK CONSTRAINT [FK_staff_account]
GO
ALTER TABLE [dbo].[supplier]  WITH CHECK ADD  CONSTRAINT [FK_supplier_ware house] FOREIGN KEY([idWareHouse])
REFERENCES [dbo].[ware house] ([id])
GO
ALTER TABLE [dbo].[supplier] CHECK CONSTRAINT [FK_supplier_ware house]
GO
ALTER TABLE [dbo].[transport]  WITH CHECK ADD  CONSTRAINT [FK_transport_bill] FOREIGN KEY([idBill])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[transport] CHECK CONSTRAINT [FK_transport_bill]
GO
ALTER TABLE [dbo].[ware house]  WITH CHECK ADD  CONSTRAINT [FK_ware house_transport] FOREIGN KEY([id transport])
REFERENCES [dbo].[transport] ([id])
GO
ALTER TABLE [dbo].[ware house] CHECK CONSTRAINT [FK_ware house_transport]
GO
/****** Object:  StoredProcedure [dbo].[PCD_searchLaptop]    Script Date: 11/9/2023 11:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PCD_searchLaptop] @txt_search nvarchar(50)
as
begin 
	select * from laptop where Name like '%'+@txt_search+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[USP_tongLaptop]    Script Date: 11/9/2023 11:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_tongLaptop] @soLuong int out
as
begin 
	select @soLuong =  count(*) from laptop
end
GO
