@using Newtonsoft.Json
@inject IHttpContextAccessor ctx;
<!DOCTYPE html>
<head>
    <title>Shop Ban laptop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 10px);
    }

    .container {
        flex: 1;
    }
</style>
<body>
    @{
        var user = JsonConvert.DeserializeObject<ShopBanLaptop2.Models.Account>(ctx.HttpContext.Session.GetString("account") ?? "");
        var shopcart = JsonConvert.DeserializeObject<List<ShopBanLaptop2.Models.SCartInfo>>(ctx.HttpContext.Session.GetString("shopCart") ?? "");
        int cartItems = 0;
        if (shopcart != null)
            cartItems = shopcart.Count();
    }
    <nav class="navbar navbar-expand-md navbar-dark bg-danger">
        <!--           LOGO               -->
        <a class="navbar-brand" href="/Product/Search">Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
             
                <!--                        -->
                <li class="nav-item active">
                    <a class="nav-link" href="/Product/Search">Trang chủ </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-toggle="dropdown">Tin tức</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">tin  mới</a>
                        <a class="dropdown-item" href="#">Khuyến mãi</a>
                        <a class="dropdown-item" href="#">Thủ thuật</a>
                        <a class="dropdown-item" href="#">App & Game</a>
                        <a class="dropdown-item" href="#">Sự kiện</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-toggle="dropdown">Tài khoản</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        @{
                            if (user == null)
                            {
                                <a class="dropdown-item" href="/Login/login#">Đăng nhập</a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="/Login/accountInfo/@user.id">Thông tin tài khoản</a>
                                <a class="dropdown-item" href="/Login/logout#">Đăng xuất</a>

                            }
                        }



                    </div>
                </li>
                @{
                    if (user != null)
                    {
                        if (user.type == 1)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                   role="button" data-toggle="dropdown">Admin</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Product/AddLaptop">thêm sản phẩm</a>
                                    <a class="dropdown-item" href="#">no service </a>
                                    <a class="dropdown-item" href="#">no service</a>
                                </div>
                            </li>
                        }
                    }

                }


                <li class="nav-item active">
                    <a class="nav-link" href="/ShoppingCart/showShopCart">Giỏ hàng <span class="badge badge-light">@cartItems</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!--                           body        -->
    <div class="container">
                @RenderBody()
    </div>
    <!--                 footer                -->
    <div class="bg-light">
      

        <div class="bg-gray">
            <p style="text-align:center">
                © 2023 HUIT - Đại học Công Thương Thành phố Hồ Chí Minh / Địa chỉ: 140, Lê Trọng Tấn, Q.Tân Phú, TP.Hồ Chí Minh / GPĐKKD số 0311609355 do Sở KHĐT TP.HCM cấp ngày 01/11/2023.
                GP số 47/GP-TTĐT do sở TTTT TP HCM cấp ngày 12/11/2023. Điện thoại: (028)73023456. Email: Huit@edu.vn
            </p>
        </div>
    </div>

</body>
