<link rel="stylesheet" type="text/css" href="~/Access/banner.css">


<!-- Start Banner -->
<div id="ads">
    <div id="ads-left">
        <div class="slider">
            <div id="test">
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
day la banner

