@using ShopBanLaptop2.Models;
    @{
        if (Session["account"] != null)
        {
            var info = Session["account"] as Account;
            <p>thông tin của bạn</p>
            <p>UserName: @info.userName</p>
            <p>Password: @info.password</p>
        }
        <p>day la account field</p>
    }
