@using (Html.BeginForm("searchByPC", "product"))
{
    <h4>Hãng sản xuất</h4>
    <div class="row">
        <div class="col-6">
            <input type="radio" value="asus" name="productCompany" /> Asus <br />
            <input type="radio" value="hp" name="productCompany" /> Hp <br />
            <input type="radio" value="acer" name="productCompany" /> Acer <br />
            <input type="radio" value="lenovo" name="productCompany" /> Lenovo <br />
            <input type="radio" value="gigabite" name="productCompany" /> Gigabite <br />
        </div>
        <div class="col-6">
            <input type="radio" value="microsoft" name="productCompany" /> Microsoft <br />
            <input type="radio" value="LG" name="productCompany" /> LG <br />
            <input type="radio" value="Dell" name="productCompany" /> Dell <br />
            <input type="radio" value="apple" name="productCompany" /> Apple <br />
            <input type="radio" value="MSI" name="productCompany" /> MSI <br />
        </div>
    </div>
    <button type="submit">tim kiem</button>
}

@using (Html.BeginForm("searchByPrice", "product"))
{
    <h4>Mức giá</h4>
    <div class="col-12">
        <input type="radio" value="0" name="price">tất cả <br />
        <input type="radio" value="1" name="price">Dưới 10 triệu<br />
        <input type="radio" value="2" name="price">từ 10 đến 15 triệu <br />
        <input type="radio" value="3" name="price">từ 15 đến 20 triệu <br />
        <input type="radio" value="4" name="price">từ 20 đến 25 triệu <br />
        <input type="radio" value="5" name="price">trên 20 triệu <br />
    </div>
    <button type="submit">tim kiem</button>
}

