@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}
#ads{
    width: 1387px;
    height: 219px;
    margin: 20px auto;
}
#ads-left{
    width: 1000px;
    float: left;
    height: 200px;
    margin-top: 4px;
    padding-right: 4px;
}
.slider {
    width: 1067px;
    height: 200px;
    margin: 4px 4px 2px 2px;
    background: url(/banner_Image/hinh0.png) no-repeat center;
    background-size: cover;
    animation: slide 20s infinite;
}
@keyframes slide{
    25% {
        background: url(/banner_Image/hinh1.jpg) no-repeat center;
        background-size: cover;
    }
    50% {
        background: url(/banner_Image/hinh2.jpg) no-repeat center;
        background-size: cover;
    }
    75% {
        background: url(/banner_Image/hinh3.jpg) no-repeat center;
        background-size: cover;
    }
    100% {
        background: url(/banner_Image/hinh4.jpg) no-repeat center;
        background-size: cover;
    }
}
