<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QLCuaHangDienTuConnectionString"
            connectionString="Data Source=MAEBAE\SQLEXPRESS;Initial Catalog=QLCuaHangDienTu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QL_BanHangDienTuConnectionString"
            connectionString="Data Source=MAEBAE\SQLEXPRESS;Initial Catalog=QL_BanHangDienTu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QL_BanHangDienTuConnectionString1"
            connectionString="Data Source=MAEBAE\MAEBAE;Initial Catalog=QL_BanHangDienTu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>